@model AgregarProductoViewModels

<h2>Agregar Producto al Presupuesto</h2>

<form asp-action="AgregarProducto" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="IdPresupuesto" />

    <div class="form-group">
        <label asp-for="IdProducto"></label>
        <select asp-for="IdProducto" asp-items="Model.ListaProductos" class="form-control"></select>
        <span asp-validation-for="IdProducto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Cantidad"></label>
        <input asp-for="Cantidad" class="form-control" type="number" min="1" />
        <span asp-validation-for="Cantidad" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-dark mt-2">Agregar</button>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}