@model Presupuestos

<h2>¿Estás seguro que querés eliminar este presupuesto?</h2>

<div>
    <h4>Presupuesto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Destinatario</dt>
        <dd class="col-sm-9">@Model.NombreDestinatario</dd>

        <dt class="col-sm-3">Fecha de creación</dt>
        <dd class="col-sm-9">@Model.FechaCreacion.ToString("yyyy-MM-dd")</dd>
    </dl>

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="IdPresupuesto" />
        <button type="submit" class="btn btn-outline-dark me-2">
            <i class="bi bi-trash"></i> Eliminar
        </button>
        <a asp-action="Index" class="btn btn-outline-dark">Cancelar</a>
    </form>
</div>